
*{
	margin: 0; padding: 0; box-sizing: border-box;
}
body{
    color: rgb(236, 67, 81);
}
.navbar{
    background:#ffeb3b75;
    display: flex;
}
.navbar-item{
    padding:5px;
    list-style: none;

}
ul{
    list-style: none;
	text-decoration-style: none;
}

.main-section{
display: flex;
flex-direction: column;
margin: 20px;
}